@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
    color: #6C6D70;
}
@layer utilities{
    .container {
        @apply max-w-[1380px] px-[15px] mx-auto
    }
    .btn{
        cursor: pointer;
    }
    .btn-sm{
        border-radius: 8px 0;
    }
    .btn-md{
        border-radius: 16px 0;
        @apply transition-all duration-300 ease-in-out hover:bg-black hover:text-white

    }
    .btn-lg{
        border-radius: 24px 0;
        @apply transition-all duration-300 ease-in-out hover:bg-black hover:text-white
    }
}