<div class="w-full">
    <div class="w-full flex justify-between items-center gap-8">
       <h1 class="uppercase font-semibold text-lg mb-4 lg:text-2xl text-dark lg:mb-8">QUẢN LÝ ĐƠN HÀNG</h1>
       <div class="relative select-information">
           <span class=" color:['#6C6D70'] " >Trạng thái đơn hàng:</span>
               <select name="" id=""
                 class="text-sm border rounded-md px-4 py-3 w-full appearance-none select-content focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent lg:text-base text-black ">
                 <option  value="">Tất cả</option>
                 <option value="">Hà nội</option>
               </select>
               <span class="select-icon absolute right-5 bottom-0 -translate-y-1/2"><i
                   class="fa-solid fa-chevron-right rotate-90"></i></span>
       </div>
     </div>
</div>